body {
    margin: 0;
}

/* general */
.content {
    text-align: left;
    margin: 0 auto;
    width: 1250px;
}

/* navigation bar */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
  
li {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #3ac8eb;
}

/* main table */
table {
    font-size: 16px;
    border-collapse: collapse;
    width: 100%;
}
  
tr:nth-child(even){background-color: #f2f2f2}

th {
    text-align: center;
    height: 30px;
}

td {
    text-align: center;
    padding: 5px;
}

/* Style the form */
.form-inline {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}
  
.form-inline label {
    margin: 5px 10px 5px 0;
    width: 17%; 
}
  
.form-inline input {
    vertical-align: middle;
    margin: 5px 10px 5px 5px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
}
  
.form-inline button {
    padding: 10px 20px;
    margin: 5px 20px 5px 0;
    background-color: gray;
    border: 1px solid #ddd;
    color: white;
}
  
.form-inline button:hover {
    background-color: rgb(87, 86, 86);
}

.form-inline select {
    padding: 10px;
}

.form-inline textarea {
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
}

/* horizontal breaks */
hr {
    margin: 20px 5px 20px 0;
}

/* search */
.search-inline {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.search-inline input[type=text] {
    vertical-align: middle;
    font-size: 17px;
    margin: 20px 10px 5px 5px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    float: left;
    width: 80%;
}

.search-inline button {
    font-size: 17px;
    padding: 10px 20px;
    margin: 20px 20px 5px 0;
    background-color: gray;
    border: 1px solid #ddd;
    border-left: none;
    color: white;
    cursor: pointer;
    float: left;
}

.search-inline button:hover {
    background-color: rgb(87, 86, 86);
}

.search-inline::after {
    content: "";
    clear: both;
    display: table;
}
