.jumbotron {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
}

.content {
    text-align: left;
    margin: 0 auto;
    width: 1000px;
}

nav a {
    color: rgb(43, 119, 232);
    font-size: 1.8em;
    margin-left: 50px;
    text-decoration: none;
}

table, td, th {
    border: 1px solid #aaa;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    text-align: center;
    height: 30px;
}

td {
    text-align: center;
    padding: 5px;
}

.form {
    margin-top: 20px;
}

#content {
    width: 70%;
}