@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Red Hat Display', sans-serif;
}

:root {
    --black: #222;
    --blue: rgb(184, 237, 249);
    --gray: rgb(216, 216, 216);
    --dark-gray: gray;
    --white: white;
}

body {
    min-height: 100vh;
    overflow: hidden;
}

.container {
    position: relative;
    width: 100%;
}

.navigation {
    position: fixed;
    width: 300px;
    height: 100%;
    background: var(--blue);
    border-left: 10px solid var(--blue);
    transition: 0.5s;
    overflow: hidden;
}

.navigation ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.navigation ul li {
    position: relative;
    width: 200%;
    list-style: none;
}

.navigation ul li:hover {
    background: var(--white);
}

.navigation ul li:nth-child(1) {
    margin-bottom: 40px;
    pointer-events: none;
}

.navigation ul li a {
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: var(--black);
    font-weight: 500;
}

.navigation ul li:hover a {
    color: var(--black);
}

.navigation ul li a .icon {
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 70px;
    text-align: center;
}

.navigation ul li a ion-icon {
    font-size: 1.75em;
}

.navigation ul li a .title {
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 53px;
    text-align: start;
    white-space: normal;
}



/* general */
.content {
    text-align: left;
    margin: 0 auto;
    width: 95%;
}

/* navigation bar */
/* ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
  
li {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #3ac8eb;
} */

/* main table */
table {
    font-size: 16px;
    border-collapse: collapse;
    width: 100%;
}
  
tr:nth-child(even){background-color: #f2f2f2}

th {
    text-align: center;
    height: 30px;
}

td {
    text-align: center;
    padding: 5px;
}

/* Style the form */
.form-inline {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}
  
.form-inline label:not([id="unit-level"]) {
    margin: 5px 10px 5px 0;
    width: 17%; 
}
  
.form-inline input {
    vertical-align: middle;
    margin: 5px 10px 5px 5px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
}
  
.form-inline button {
    padding: 10px 20px;
    margin: 5px 20px 5px 0;
    background-color: gray;
    border: 1px solid #ddd;
    color: white;
}
  
.form-inline button:hover {
    background-color: rgb(87, 86, 86);
}

.form-inline select {
    padding: 10px;
}

.form-inline textarea {
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
}

/* upload form */
.update-form-inline {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.update-form-inline input {
    vertical-align: middle;
    margin: 5px 10px 5px 5px;
    padding: 15px;
    background-color: #fff;
}
  
.update-form-inline button {
    padding: 10px 20px;
    margin: 5px 20px 5px 0;
    background-color: gray;
    border: 1px solid #ddd;
    color: white;
}
  
.update-form-inline button:hover {
    background-color: rgb(87, 86, 86);
}

/* horizontal breaks */
hr {
    margin: 20px 5px 20px 0;
}

/* main tables */
table th:nth-child(3), td:nth-child(3) {
    display: none;
}
