* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card {
    width: 300px;
    background-color: rgb(198, 248, 246);
    border-radius: 20px;
    overflow: hidden;
    margin: 50px auto;
}

.title {
    color: var(--dark-blue);
    font-weight: 900;
    font-size: 32px;
    text-align: center;
    margin: 10px 0;
}

.container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 18px;
}

.container > * {
    margin: 13px 0;
}
