* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card {
    width: 400px;
    height: 300px;
    background-color: rgb(217, 222, 233);
    border-style: dashed;
    border-color: black;
    border-radius: 20px;
    overflow: hidden;
    margin: 20px;
}

.title {
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    margin: 10px 0;
}

.container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 26px;
}

.container > * {
    margin: 13px 0;
}

.logout-a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: black;
    font-size: 26px;
    font-weight: 700;
    background-color: rgb(206, 206, 206);
    border-radius: 10px;
}

.logout-a:visited{
    color: black;
}

.logout-a:hover {
    opacity: 0.8;
    text-decoration: none;
}

.user-info {
    font-size: 20px;
    background-color: hsl(225, 100%, 98%);
    padding: 25px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
