<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	
    {% block head %}{% endblock %}
</head>

<body>
    <ul>
        <li><a class="active" href="{{ url_for('routes_hosts.index') }}">Main</a></li>
        <li><a href="{{ url_for('routes_units.unit') }}">Org. Units</a></li>
        <li><a href="#">About</a></li>
        <li style="float: right;"><a href="/unit_dump">Dump Units</a></ri>
        <li style="float: right;"><a href="/dump">Dump Hosts</a></ri>
        <li style="float: right;"><a href="/unit_new">Add Unit</a></ri>
        <li style="float: right;"><a href="/form">Add Host</a></ri>
    </ul>
    {% block body %}{% endblock %}
</body>
<br/><br/><br/><br/>
</html>

