<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
	
    {% block head %}{% endblock %}
</head>

<body>
    <ul>
        <li><a class="active" href="{{ url_for('routes_hosts.index') }}">Main</a></li>
        <li><a href="{{ url_for('routes_units.unit') }}">Org. Units</a></li>
        <li><a href="{{ url_for('routes_service.search') }}">Search</a></li>
        <li style="float: right;"><a href="/upload_csv">Upload CSV</a></ri>
        <li style="float: right;"><a href="/unit_dump">Dump Units</a></ri>
        <li style="float: right;"><a href="/dump">Dump Hosts</a></ri>
        <li style="float: right;"><a href="/unit_new">Add Unit</a></ri>
        <li style="float: right;"><a href="/form">Add Host</a></ri>
    </ul>
    {% block body %}{% endblock %}
</body>
<br/><br/><br/><br/>
</html>

