{% extends 'base.html' %}

{% block head %}
<title>Organizational Units</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center">Unit Information</h1>
    <div class="button-container">
        <form action="/cluster_new">
            <dev style="position: relative; left: 36%;">
                <button type="submit" class="btn btn-primary">Add Unit</button>
            </dev>
        </form>
    
        <form action="/dump">
            <div style="position: relative; left: 37%;">
                <button type="submit" class="btn btn-primary">Dump Units Database</button>
            </div>
        </form>
    </div>
    <hr/>

    <table>
        <tr style="text-align: center">
            <th>ID</th>
            <th>Name</th>
            <th>Level</th>
            <th>Level Details</th>
            <th>Hosts</th>
            <th>Date Created</th>
            <th>Actions</th>
        </tr>
        {% for cluster in clusters %}
        <tr>
            <td>{{ cluster.id }}</td>
            <td>{{ cluster.unit_name }}</td>
            <td>{{ cluster.unit_level }}</td>
            <td>{{ cluster.cluster }} / {{ cluster.containerization }} / {{ cluster.pods }}</td>
            <td>{{ hc_dict.get(cluster.cluster) }}</td>
            <td>{{ cluster.date_created.strftime("%d/%m/%Y %H:%M:%S") }}</td>
            <td>
                <a href="/cluster_delete/{{cluster.id}}" onclick="return confirm('Are you sure you want to DELETE Cluster {{ cluster.id }}?')">Delete</a>
                <br>
                <a href="/cluster_update/{{cluster.id}}">Update</a>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
