{% extends 'base.html' %}

{% block head %}
<title>Cluster</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: left">Create New Cluster</h1>
    <hr/>

    <form action="/cluster_new" method="POST" name="theCluster">
        <section>
            <h5>Cluster Name</h5>
            <input type="text" name="cluster" required/>
        </section>

        <section>
            <h5>Cluster Description</h5>
            <textarea name="description" rows="5" cols="60" required></textarea>
        </section>
        <hr/>

        <section>
            <h5>Cluster's Embedded Functions</h5>
            <textarea name="cluster_functions" rows="5" cols="60" required></textarea>
        </section>

        <section>
            <h5>Cluster's Subsystems</h5>
            <textarea name="cluster_subsystems" rows="5" cols="60" required></textarea>
        </section>

        <section>
            <button type="submit" class="btn btn-primary">Submit</button>
        </section><br/>

    </form>
</div>

{% endblock %}
