{% extends 'base.html' %}

{% block head %}
<title>Form</title>
{% endblock %}

{% block body %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="static/js/add_ip.js"></script>
<script type="text/javascript" script id="ch" hosts="{{hosts}}" src="static/js/check_host.js"></script>      


<div class="content">
    <h1 style="text-align: left">Create New Form</h1>

    <form action="/form" name="theForm" method="POST">
        <p>System's Name<br>
            <input type="text" name="name" required/>
        </p>
        <p>Hostname<br>
            <input type="integer" name="hostname" required/>
            <a href="#" onclick="return(validate());">Check Hostname</a>
        </p>
        <p>IP address  format: 1.1.1.1/24<br>
            <input type="text" name="ip" value="" required/>
                <div class="input-wrapper">
                    <div>Extra IP Addresses
                    <a href="javascript:void(0);" class="add-input" title="Add input">Add</a>
                    </div>
                </div>
        </p>
        <p>Server's Linux Distribution
                <select name="distro" method="GET" action="/form" required>
                    <option value="" selected disabled>Select an Option</option>
                    {% for d in dirlist %}
                    <option value="{{d}}">{{d}}</option>"
                    {% endfor %}
                </select>
        </p>
        <p>System’s functions<br>
            <textarea name="functions" rows="5" cols="60" required></textarea>
        </p>
        <p>Subsystems<br>
            <textarea name="subsystems" rows="5" cols="60" required></textarea>
        </p>

        <br>
        <input type="submit" name="submit_button" value="Finish">
    </form>
</div>

{% endblock %}
