{% extends 'base.html' %}

{% block head %}
<title>Form</title>
{% endblock %}

{% block body %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="static/js/add_ip.js"></script>
<script type="text/javascript" script id="ch" hosts="{{hosts}}" src="static/js/check_host.js"></script>
<script type="text/javascript" script id="gc" unit_data="{{unit_data}}" src="static/js/get_unit.js"></script>


<div class="content">
    <h1>Create New Form</h1><hr/>
    
    <form action="/form" name="theForm" method="POST">

        <section class="form-inline">
            <label>System's Name:</label>
            <input type="text" name="name" required/>
        </section><br/>

        <section class="form-inline">
            <label>Hostname:</label>
            <input type="integer" name="hostname" required/>
            <button type="button" onclick="return(validate());">Check Hostname</button>
        </section><br/>

        <section class="form-inline">
            <label>Unit Affiliation:</label>
            <input type="text" name="unit_belong" list="unit_list"/>
            <datalist id="unit_list">
                {% for c in units %}
                <option>{{c}}</option>
                {% endfor %}
            </datalist>
            <button type="button" onclick="return(get_unit());">Get Unit</button><br/>
        </section><br/>

        <section class="form-inline">
            <label>IP address (format: 1.1.1.1/24)</label>
            <input type="text" name="ip" value="" required/>
                <div class="input-wrapper">
                    <div>
                        <label>Extra IP Addresses</label>
                        <a href="javascript:void(0);" class="add-input" title="Add input">
                            <button type="button">Add</button>
                        </a>
                    </div>
                </div>
        </section><br/>

        <section class="form-inline">
            <label>Server's Linux Distribution</label>
            <select name="distro" method="GET" action="/form" required>
                <option value="" selected disabled>Select an Option</option>
                {% for d in dirlist %}
                <option value="{{d}}">{{d}}</option>
                {% endfor %}
            </select>
        </section><br/>

        <hr/>

        <section class="form-inline">
            <label>System’s functions:</label>
            <textarea name="functions" rows="5" cols="60" required></textarea>
        </section><br/>

        <section class="form-inline">
            <label>Subsystems:</label>
            <textarea name="subsystems" rows="5" cols="60" required></textarea>
        </section><br/>

        <section class="form-inline">
            <button type="submit" class="btn btn-primary">Submit</button>
        </section>

    </form>
</div>
{% endblock %}
