{% extends 'base.html' %}

{% block head %}
<title>Infra Forms</title>
{% endblock %}

{% block body %}
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css">
<script     src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
<script src="static/js/table_adv.js"></script>

<p>{{ ac }}</p>
<p>{{ ss }}</p>

<!-- cards -->
<div class="cardBox">
    <div class="card">
        <div>
            <div class="numbers">{{ forms_num }}</div>
            <div class="cardName">Forms</div>
        </div>
        <div>
            <a href="{{ url_for('routes_hosts.form') }}">
                <span class="iconBox"><ion-icon name="documents-outline"></ion-icon><br></span>
            </a>
            <a href="{{ url_for('routes_hosts.form_new') }}">
                <span class="iconBox"><ion-icon name="add-outline"></ion-icon></span>
            </a>
        </div>
    </div>
    
    <div class="card">
        <div>
            <div class="numbers">{{ units_num }}</div>
            <div class="cardName">Units</div>
        </div>
        <div>
            <a href="{{ url_for('routes_units.unit') }}">
                <span class="iconBox"><ion-icon name="file-tray-full-outline"></ion-icon><br></span>
            </a>
            <a href="{{ url_for('routes_units.unit_new') }}">
                <span class="iconBox"><ion-icon name="add-outline"></ion-icon></span><br></span>
            </a>
        </div>
    </div>

    <div class="card">
        <div>
            <div class="numbers">{{ all_sessions }}</div>
            <div class="cardName">Active Logins</div>
        </div>
        <div class="iconBox">
            <ion-icon name="eye-outline"></ion-icon>
        </div>
    </div>

    <div class="card">
        <div>
            <div class="numbers">{{ db_status }}</div>
            <div class="cardName">DB Status</div>
        </div>
        <div class="iconBox">
            <ion-icon name="bulb-outline"></ion-icon>
        </div>
    </div>
</div>

{% endblock %}
