{% extends 'base.html' %}

{% block head %}
<title>Infra Forms</title>
{% endblock %}


{% block body %}
<div class="content">
    <h1 style="text-align: center">Infra Forms</h1>

    <table>
        <tr>
            <th>ID</th>
            <th>Description</th>
            <th>Name</th>
            <th>Host</th>
            <th>IP</th>
            <th>Date</th>
            <th>Actions</th>
        </tr>
        {% for form in forms %}
        <tr>
            <td>{{ form.id }}</td>
            <td>{{ form.description }}</td>
            <td>{{ form.name }}</td>
            <td>{{ form.hostname }}</td>
            <td>{{ form.ip }}</td>
            <td>{{ form.date_created.strftime("%d/%m/%Y %H:%M:%S") }}</td>
            <td>
                <a href="/delete/{{form.id}}">Delete</a>
                <br>
                <a href="/update/{{form.id}}">Update</a>
            </td>
        </tr>
        {% endfor %}
    </table>

    <form action="/form">
        <input type="submit" value="Add Form">
    </form>
</div>
{% endblock %}
