{% extends 'base.html' %}

{% block head %}
<title>Profile</title>
<link rel="stylesheet" href="static/css/profile.css">
{% endblock %}

{% block body %}

<div class="profile-card">
    <h2 class="profile-title">Profile Information</h2>

    <div class="profile-container">
        <div class="profile-user-info">
            <p>User Name:  {{name}}</p>
            <p>User Email: {{email}}</p>
        </div>
        <a class="profile-logout-a" href="{{ url_for('routes_auth.logout') }}">Logout</a>
    </div>
</div>

{% endblock %}
