{% extends 'base.html' %}

{% block head %}
<title>Update Form</title>
{% endblock %}


{% block body %}
<div class="content">
    <h1 style="text-align: left">Update Form</h1>

    <div>
        <form action="/update/{{form.id}}" method="POST">
            <p>System's Name<br>
                <input type="text" name="name" value="{{form.name}}" />
            </p>
            <p>Hostname<br>
                <input type="integer" name="hostname" value="{{form.hostname}}" />
            </p>
            <p>IP address  format: 1.1.1.1/24<br>
                <input type="text" name="ip" value="{{form.ip}}" />
            </p>
            <p>Extra IP addresses<br>
                {% for exip in form.extra_ips %}
                <input type="text" name="extra_ips[]" value="{{exip.extra_ip}}" />
                {% endfor %}
            </p>
            <p>Server's Linux Distribution
                <select name="distro" method="GET" action="/form">
                    {% for d in dirlist %}
                        {% if d == form.distro %}
                            <option value="{{d}}" selected>{{d}}</option>
                        {% else %}
                            <option value="{{d}}">{{d}}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </p>
            <p>System's Functions<br>
                <textarea name="functions" rows="5" cols="60" required>{{form.functions}}</textarea>
            </p>
            <p>Subsystems<br>
                <textarea name="subsystems" rows="5" cols="60" required>{{form.subsystems}}</textarea>
            </p>
            <input type="submit" value="Update">
        </form>
    </div>

</div>
{% endblock %}
