{% extends 'base.html' %}

{% block head %}
<title>Update Form</title>
{% endblock %}


{% block body %}
<div class="content">
    <h1 style="text-align: left">Update Form</h1>

    <div>
        <form action="/update/{{form.id}}" method="POST">
            <p>name<br>
                <input type="text" name="name" value="{{form.name}}" />
            </p>
            <p>hostname<br>
                <input type="integer" name="hostname" value="{{form.hostname}}" />
            </p>
            <p>ip<br>
                <input type="text" name="ip" value="{{form.ip}}" />
            </p>
            <p>extra ips<br>
                {% for exip in form.extra_ips %}
                <input type="text" name="extra_ips[]" value="{{exip.extra_ip}}" />
                {% endfor %}
            </p>
            <p>Server's Linux Distribution
                <select name="distro" method="GET" action="/form">
                    {% for d in dirlist %}
                        {% if d == form.distro %}
                            <option value="{{d}}" selected>{{d}}</option>
                        {% else %}
                            <option value="{{d}}">{{d}}</option>"
                        {% endif %}
                    {% endfor %}
                </select>
            </p>
            <p>functions<br>
                <input type="text" name="functions" value="{{form.functions}}" />
            </p>
            <p>subsystems<br>
                <input type="text" name="subsystems" value="{{form.subsystems}}" />
            </p>
            <input type="submit" value="Update">
        </form>
    </div>

</div>
{% endblock %}
